<div *ngIf="article">
  <label>Nom : {{article.libelle}}</label><br>
  
  <label >Quantité : </label>
  <input [(ngModel)]="quantite" type="number">
  &nbsp;
  <div *ngIf="quantite > 0">total : {{(quantite * article.pu) * (1-article.promo) |currency:"EUR" }}
    <button (click)="ajout()" >Ajouter</button>
  </div>
  
  
 

 
</div>