
<div *ngIf="movie" class="col-lg-6" >
    <div class="well sponsor">
        <span style="float: left; margin-right: 15px;"><img src="{{movie.Poster}}" width="170" height="250"></span>
        <h4 style="margin-bottom: 0.4em;">{{movie.Title}}</h4>
        <div class="clearfix">
        <p>{{movie.Genre}} &nbsp; | {{movie.Runtime}}<br><br>
        {{movie.Plot}}
        </p>
        </div>
    </div>
</div>
