<h1>{{title}}</h1>


<nav>
    <a routerLink="/articles">Liste des articles</a>
    &nbsp;|&nbsp;
    <a routerLink="/panier">Voir mon panier</a>
    &nbsp;|&nbsp;
    <a routerLink="/movies">Voir des films</a>
  </nav>


<router-outlet></router-outlet>

