<h2>Recherche de films</h2>

<label>
  Titre : <input [(ngModel)]="titre" />
</label>
<button (click)='search()'>Search...</button>

<ul *ngIf="movies">
  <li *ngFor="let movie of movies">
    <span>Titre : {{movie.Title}} </span>
    |
    <span>Langue : {{movie.Year}}</span>
    |
    <a routerLink='/movies/{{movie.imdbID}}'>détail</a>
  </li>
</ul>