<h1>{{title}}</h1>
<table>
  <tr>
    <th>Libelle</th><th>P.U.</th><th>Quantité</th><th>Total</th>
  </tr>
  <tr *ngFor="let ligne of panier.lignes">
    <td>{{ligne.article.libelle}}</td>
    <td>{{ligne.article.pu}}</td>
    <td>{{ligne.quantite}}</td>
    <td>{{(ligne.article.pu * ligne.quantite)* (1-ligne.article.promo)}}</td>
  </tr>
</table>
