<h5 *ngIf="panierSVC.getQuantiteTotal() > 0">{{panierSVC.getQuantiteTotal()}} articles</h5>
<ul>
    <li *ngFor="let article of catalogue" (click)="choisir(article)" [class.possedePromo]="article.promo > 0" [class.selected]="article == selectedArticle">
        <span class="numero">{{article.id}} </span>
        <span class="libelle">{{article.libelle}} </span>
        <span class="pu"> {{article.pu | currency:'EUR':'symbol'}} </span>
        <span class="promo">{{article.pu * (1-article.promo) | currency:'EUR'}} - {{article.promo | percent}} </span>
        <p class="description">{{article.description}}</p>
        <a routerLink='/articles/{{article.id}}'>voir</a>
    </li>
</ul>

<app-article-detail [article]="selectedArticle"></app-article-detail>