.numero{
    background: rgb(199, 62, 62);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
li{
    background: rgb(2, 139, 252);
    padding: 5px 0;
    width: 400px;
    border-radius: 5px;
    margin: 2px;
}
li:hover{
    background: rgb(2, 119, 252);
}
li:not(.possedePromo) .promo{
    visibility: hidden;
}

li:not(.selected) .description{
    display: none;
}
li.selected .description{
    background: white;
    border: rgb(2, 119, 252) 2px solid ;
}

li.possedePromo .pu{
    text-decoration: line-through;
}

.numero{
    display: inline-block;
    width: 15px;
}
.libelle{
    display: inline-block;
    width: 150px;
}
.pu{
    display: inline-block;
    width: 55px;
}
.promo{
    display: inline-block;
    width: 100px;
}
/*
.barre{
    text-decoration: line-through;
} 
*/